@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900,&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Lato";
  color: #000000;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1260px;
  padding: 0px 15px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background-color: rgba(255, 251, 0, 0.52);
}
.header__container {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  gap: 60px;
  align-items: center;
  min-height: 100px;
}
@media (max-width: 767.98px) {
  .header__container {
    gap: 30px;
  }
}
@media (max-width: 479px) {
  .header__logo {
    width: 130px;
    overflow: hidden;
    flex: 0 0 130px;
  }
}
.menu-header__list {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
@media (max-width: 767.98px) {
  .menu-header__list {
    gap: 15px;
  }
}
@media (max-width: 479px) {
  .menu-header__list {
    gap: 10px;
  }
}

.menu__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  transition: all 0.3s ease-in 0s;
  color: #000000;
}
.menu__link:hover {
  color: #FF6428;
  text-decoration: underline;
}
.menu__link--red {
  color: rgba(217, 36, 0, 0.9254901961);
}

.main {
  padding-top: 180px;
}
.main__block-1 {
  padding-bottom: 90px;
}

.block-1-main {
  display: flex;
  gap: 135px;
}
.block-1-main__textblock {
  flex: 0 1 54%;
}
.block-1-main__title {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  margin-bottom: 40px;
  color: #1E212C;
}
.block-1-main__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}
.block-1-main__text:not(:last-child) {
  margin-bottom: 48px;
}
.block-1-main__info {
  flex: 0 1 46%;
}

.about-main__subtitle {
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  color: #1E212C;
}
.about-main__subtitle:not(:last-child) {
  margin-bottom: 24px;
}
.about-main__link {
  padding-left: 32px;
  position: relative;
  line-height: 160%;
}
.about-main__link:not(:last-child) {
  margin-bottom: 4px;
}
.about-main__link::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 16px;
  height: 16px;
  background: url("../img/main/icons/checklist.svg") 0 0 no-repeat;
}

.info-main__row {
  background: #FFFFFF;
  border: 1px solid #E5E8ED;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
  padding: 40px 32px;
}
.info-main__items:not(:last-child) {
  margin-bottom: 32px;
}
.info-main__btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 0.5px;
  border-radius: 4px;
  padding: 0px 32px;
  color: #FFFFFF;
  display: block;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
}
.info-main__btn:hover {
  background: linear-gradient(55.95deg, #ffd500 0%, #eeff00 100%);
  color: #FF3F3A;
}

.item__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1E212C;
}
.item__label:not(:last-child) {
  margin-bottom: 4px;
}
.item__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #FF3F3A;
}
.item__title:not(:last-child) {
  margin-bottom: 8px;
}
.item__text {
  font-size: 16px;
  line-height: 160%;
  color: #787A80;
}

.block-2-main {
  padding-top: 90px;
  padding-bottom: 300px;
  display: flex;
  gap: 135px;
}
.block-2-main__image {
  flex: 0 1 495px;
  position: relative;
}
.block-2-main__image::before {
  content: "";
  position: absolute;
  top: -66px;
  left: -143px;
  width: 242px;
  height: 242px;
  background: url("../img/main/decor.svg") 0 0 no-repeat;
}
.block-2-main__curator {
  flex: 1 1 auto;
}

.curator-main__label {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1E212C;
}
.curator-main__label:not(:last-child) {
  margin-bottom: 8px;
}
.curator-main__title {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1E212C;
}
.curator-main__title:not(:last-child) {
  margin-bottom: 16px;
}
.curator-main__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #787A80;
}
.curator-main__subtitle:not(:last-child) {
  margin-bottom: 32px;
}
.curator-main__list:not(:last-child) {
  margin-bottom: 32px;
}
.curator-main__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  align-items: center;
  color: #424551;
}
.curator-main__link:not(:last-child) {
  margin-bottom: 4px;
}
.curator-main__link--1 {
  position: relative;
  padding-left: 24px;
}
.curator-main__link--1::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 16px;
  height: 16px;
  background: url("../img/main/icons/Star.svg") 0 0 no-repeat;
}
.curator-main__link--2 {
  position: relative;
  padding-left: 24px;
}
.curator-main__link--2::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 16px;
  height: 16px;
  background: url("../img/main/icons/Play.svg") 0 0 no-repeat;
}
.curator-main__link--3 {
  position: relative;
  padding-left: 24px;
}
.curator-main__link--3::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 16px;
  height: 16px;
  background: url("../img/main/icons/Profile.svg") 0 0 no-repeat;
}
.curator-main__text {
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}
.curator-main__text:not(:last-child) {
  margin-bottom: 40px;
}
.curator-main__socials {
  display: flex;
  gap: 24px;
  align-items: center;
}

.socials-curator__link--decor {
  position: relative;
}
.socials-curator__link--decor::after {
  content: "";
  position: absolute;
  bottom: -28px;
  right: -12px;
  width: 22px;
  height: 21px;
  background: url("../img/main/icons/cursor.svg") 0 0/100% no-repeat;
}

.blocks-test {
  padding-bottom: 130px;
}
.blocks-test__title {
  text-align: center;
  font-size: 45px;
  margin-bottom: 50px;
  font-weight: 900;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  padding: 25px;
  outline: 1px solid black;
  border-radius: 40px;
  background: #fceabb;
  background: linear-gradient(to bottom, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#fceabb", endColorstr="#fbdf93",GradientType=0 );
}
.blocks-test__title span {
  color: #F75E05;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.blocks-test__block-1 {
  font-size: 25px;
  font-weight: 900;
  text-align: center;
  padding: 30px;
  margin-bottom: 50px;
  background: #cedbe9;
  background: radial-gradient(ellipse at center, #cedbe9 0%, #aac5de 17%, #6199c7 50%, #3a84c3 51%, #419ad6 59%, #4bb8f0 71%, #3a8bc2 84%, #26558b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#cedbe9", endColorstr="#26558b",GradientType=1 );
  display: inline-block;
  border-radius: 30px;
}
.blocks-test__block-1:hover {
  background: #2474c9;
  background: radial-gradient(ellipse at center, #90abc7 0%, #d5ba9c 17%, #6199c7 50%, #3a84c3 51%, #9ba231 59%, #61912d 71%, #3a8bc2 84%, #370841 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#cedbe9", endColorstr="#26558b",GradientType=1 );
  color: #e6e20a;
  box-shadow: 10px 10px 30px 10px black;
  outline: 5px solid #42af1d;
  display: block;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  -webkit-text-decoration: double;
          text-decoration: double;
}
.blocks-test__block-2 {
  font-size: 25px;
  font-weight: 900;
  text-align: center;
  padding: 30px;
  margin-bottom: 50px;
  background: linear-gradient(135deg, rgba(30, 87, 153, 0) 0%, rgba(30, 87, 153, 0.8) 15%, rgb(30, 87, 153) 19%, rgb(30, 87, 153) 20%, rgb(41, 137, 216) 50%, rgb(30, 87, 153) 80%, rgb(30, 87, 153) 81%, rgba(30, 87, 153, 0.8) 85%, rgba(30, 87, 153, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#001e5799", endColorstr="#001e5799",GradientType=1 );
  border-radius: 30px;
  box-shadow: 5px 5px 10px 5px black;
}
.blocks-test__block-2:active {
  background: linear-gradient(135deg, rgb(125, 13, 52) 0%, rgb(161, 60, 172) 62%, rgba(148, 212, 46, 0.7) 68%, rgba(174, 166, 54, 0) 0) 100%;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#1e5799", endColorstr="#007db9e8",GradientType=1 );
  color: #c4c4c4;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  outline: 15px dotted yellow;
  letter-spacing: 5px;
  cursor: pointer;
}
.blocks-test__block-3 {
  font-size: 25px;
  font-weight: 900;
  text-align: center;
  padding: 30px;
  box-shadow: 5px 5px 10px 5px black;
  margin-bottom: 50px;
  background: rgb(157, 213, 58);
  background: linear-gradient(135deg, rgb(157, 213, 58) 0%, rgb(161, 213, 79) 50%, rgb(128, 194, 23) 51%, rgb(124, 188, 10) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#9dd53a", endColorstr="#7cbc0a",GradientType=1 );
  border-radius: 25px;
}
.blocks-test__block-3 p {
  margin-bottom: 30px;
}
.blocks-test__block-3 li {
  margin-bottom: 35px;
}
.blocks-test__block-3 a {
  color: green;
}
.blocks-test__block-3 a:visited {
  color: red;
}
.blocks-test__block-4 {
  border: 1px solid rgb(0, 229, 255);
  display: inline-block;
  border-radius: 20px;
  overflow: hidden;
  padding: 40px;
  margin-bottom: 40px;
  box-shadow: 5px 5px 10px 5px black;
  background: rgb(252, 234, 187);
  background: linear-gradient(to bottom, rgb(252, 234, 187) 0%, rgb(252, 205, 77) 50%, rgb(248, 181, 0) 51%, rgb(251, 223, 147) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#fceabb", endColorstr="#fbdf93",GradientType=0 );
}
.blocks-test__block-4 input {
  width: 500px;
  border-radius: 25px;
  font-size: 25px;
  font-weight: 700;
  padding: 15px;
}
.blocks-test__block-4 input:focus {
  box-shadow: 0px 0px 30px 10px rgb(0, 195, 255);
  outline: 1px solid rgba(0, 114, 254, 0.236);
}
.blocks-test span {
  color: #eeff00;
  font-family: arial;
  font-size: 35px;
  outline: 1px solid black;
}
.blocks-test__block-5 {
  padding: 15px;
  box-shadow: 5px 5px 10px 5px black;
  background-color: rgba(10, 166, 171, 0.714);
}
.blocks-test__block-5 ul *:first-child {
  font-size: 50px;
  color: #370841;
  margin-bottom: 20px;
}
.blocks-test__block-5 ul :nth-child(even) {
  font-size: 16px;
  color: red;
  margin-bottom: 20px;
}
.blocks-test__block-5 ul :nth-child(odd) {
  font-size: 36px;
  color: rgba(0, 255, 247, 0.8549019608);
  margin-bottom: 20px;
}
.blocks-test__block-5 ul *:last-child {
  font-size: 29px;
  color: #d1bc00;
  margin-bottom: 20px;
}
.blocks-test__block-5 p:last-of-type {
  text-transform: capitalize;
  font-size: 70px;
  color: #9d00ff;
  font-weight: 900;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-bottom: 20px;
}